<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Nur Muhammad Ikhsan</h1>
        <p>I'm <span class="typed" data-typed-items="Web Developer, Node JS Developer, Freelancer"></span></p>
    </div>
</section><!-- End Hero -->