<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>My Works</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>
      <div class="row ">
        <div class="col-lg-4 col-md-6 mb-2">
          <div class="card shadow mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="/assets/img/works/transformasi.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Laravel Blade View Engine</h5>
              <p class="card-text">
                Create user interface of Foundation Web Site Profile
              </p>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn bg-prime light w-100" data-bs-toggle="modal" data-bs-target="#works1">
                    Details
                  </button>
                </div>
                <div class="col-6">
                  <a href="http://project-redesign.transformasi.org/" target="_blank" class="btn bg-second light w-100">Live View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2">
          <div class="card shadow mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="/assets/img/works/gamehub.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Back-end Developer</h5>
              <p class="card-text">
                Build Back-end Web App with Express JS
              </p>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn bg-prime light w-100" data-bs-toggle="modal" data-bs-target="#works2">
                    Details
                  </button>
                </div>
                <div class="col-6">
                  <a href="https://binargamehub.vercel.app/" target="_blank" class="btn bg-second light w-100">Live View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-2">
          <div class="card shadow mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="/assets/img/works/gamehub.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Back-end Developer</h5>
              <p class="card-text">
                Create user interface of Foundation Web Site Profile
              </p>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn bg-prime light w-100" data-bs-toggle="modal" data-bs-target="#myModal">
                    Details
                  </button>
                </div>
                <div class="col-6">
                  <a href="https://binargamehub.vercel.app/" target="_blank" class="btn bg-second light w-100">Live View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- 
      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div> -->

      <!-- <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

      </div> -->
    </div>
  </section><!-- End Portfolio Section -->

  <!-- modal -->

  <!-- Button trigger modal -->

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="works1">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Laravel Blade View Engine</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 mb-2">
              <img src="/assets/img/works/transformasi.png" class="w-100" alt="">
            </div>
            <div class="row p-3 d-flex justify-content-center">
              <div class="col-md-5 ms-4">
                <h3>
                  Tech Stack
                </h3>
                <ul class="list-unstyled">
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>HTML 5</strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>CSS 3</strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>Bootsrap 4</strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>Laravel 8</strong>
                  </li>
                </ul>
              </div>
              <div class="col-md-5">
                <h3>
                  Job Desk
                </h3>
                <ul class="list-unstyled">
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>
                      Create web interface
                    </strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>
                      Layouting views
                    </strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>
                      Content Management
                    </strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="row">
          <div class="col-6">
            <a href="http://project-redesign.transformasi.org/" target="_blank" class="btn bg-second light w-100">View</a>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="works2">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Back-end Developer</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 mb-2">
              <img src="/assets/img/works/gamehub.png" class="w-100" alt="">
            </div>
            <div class="row p-3 d-flex justify-content-center">
              <div class="col-md-5 ms-4">
                <h3>
                  Tech Stack
                </h3>
                <ul class="list-unstyled">
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>Node JS</strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>Express JS</strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>Postgre SQL</strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>Jsonwebtoken</strong>
                  </li>
                </ul>
              </div>
              <div class="col-md-5">
                <h3>
                  Job Desk
                </h3>
                <ul class="list-unstyled">
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>
                      Create Database Structure
                    </strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>
                      Build Server
                    </strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>
                      Authentication &amp; Authorization
                    </strong>
                  </li>
                  <li>
                    <i class="bi bi-chevron-right second"></i>
                    <strong>
                      Data CRUD
                    </strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="row">
          <div class="col-6">
            <a href="http://project-redesign.transformasi.org/" target="_blank" class="btn bg-second light w-100">View</a>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>