<section id="resume" class="resume section-bg-dark">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Nur Muhammad Ikhsan</h4>
            <!-- <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p> -->
            <ul>
              <li>Jakarta, Indonesia</li>
              <li>(+62) 851-5679-6206</li>
              <li>nikhsan417@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Computer &amp; Network Engineering</h4>
            <h5>2015 - 2018</h5>
            <p><em>SMK N 7 Jakarta</em></p>
            <p>Study basic Computer and Networking Engineering in three years.</p>
          </div>
          <div class="resume-item">
            <h4>Full-Stack Web Development</h4>
            <h5>2021</h5>
            <p><em>Binar Acacemy</em></p>
            <p>
              Learn about web development, starting from the server side and client side. Build a Web-Based Application with Express JS
            </p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Technical Writer</h4>
            <h5>2020</h5>
            <p><em>The Center for Public Policy Tranformation (Transformasi)</em></p>
            <ul>
              <li>Create product guidelines to help user using the application.</li>
              <li>Coordinating with Senior Developer, Product Manager, and the client diretly</li>
              <li>Make sure everything on the right way</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Front-end Web Developer</h4>
            <h5>2021</h5>
            <p><em>The Center for Public Policy Tranformation (Transformasi)</em></p>
            <ul>
              <li>Redesign Website Interface</li>
              <li>Layouting With Laravel Blade View Engine</li>
              <li>Manage Content with CMS</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
</section><!-- End Resume Section -->