<section id="services" class="services section-bg-dark">
    <div class="container">

      <div class="section-title">
        <h2>Certificates</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row">
        <div class="col-md-5 icon-box p-5 m-4 w-90" data-aos="fade-up">
          <div class="w-100">
            <div class="icon"><i class="bi bi-mortarboard-fill"></i></div>
            <h4 class="title"><a href="">Full-Stack Web Development</a></h4>
            <p class="description">Graduated from Binar Academy Full-Stack Web Bootcamp. Passed 11 chapter of challange, and success build an Web Based Application</p>
            <a href="/assets/pdf/graduate.pdf" class="btn bg-prime light me-1"target="_blank">View</a>
            <a href="/assets/pdf/graduate.pdf" class="btn bg-prime light" download>Download</a>          
          </div>
        </div>
        <div class="col-md-5 icon-box p-5 m-4 w-90" data-aos="fade-up" data-aos-delay="100">
          <div class="w-100">
            <div class="icon"><i class="bi bi-award-fill"></i></div>
            <h4 class="title"><a href="">Best Student</a></h4>
            <p class="description">Graduated from Binar Academy Full-Stack Web Bootacamp as The Best Student. Become the most active and most developed student.</p>
            <a href="/assets/pdf/best.pdf" class="btn bg-prime light me-1"target="_blank">View</a>
            <a href="/assets/pdf/best.pdf" class="btn bg-prime light" download>Download</a>    
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->