<section id="skills" class="skills section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row justify-content-center p-2">
        <div class="col-lg-8">
          <img src="/assets/img/skills/skill7.png" alt="" class="w-100">
        </div>
      </div>
    </div>
</section><!-- End Skills Section -->