<section id="testimonials" class="testimonials section-bg ">
    <div class="container">

      <div class="section-title">
        <h2>Testimonials</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fast in adapting to the team. Able to complete tasks as requested and on time. Work in a structured manner, making it easier for teams to collaborate. He has a great potential.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/anwar.jpeg" class="testimonial-img" alt="">
              <h3>Syamsul Anwar</h3>
              <h4>Full-stack Web Developer</h4>
              <h4>at Vektor Inti Prima</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Not only he loves at what he do, he can understand the bigger pictures of any task given, so his deliveries always remarkable. The greatest thing from him is that he has a very great personality to work with.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/ruly.jpeg" class="testimonial-img" alt="">
              <h3>Fhazrul Jaelani</h3>
              <h4>Product Manager</h4>
              <h4>at Vektor Inti Prima</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                It was a pleasure to work with him. His deliveries were always very well executed, an enthusiastic and passionate software developer, always went the extra mile and makes sure all the deadlines are met.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/revy.jpeg" class="testimonial-img" alt="">
              <h3>Revy Wahyudi</h3>
              <h4>Front-end Web Developer</h4>
              <h4>at Binar Academy Bootcamp</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->